
.normal {
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  font-family: Georgia, sans-serif;
  margin: 10em 12em;
  height: auto;
}

.content {
  flex: 2;
  border-right-width: 2px;
  border-right-style: dashed;
  border-right-color: aqua;
}

.show {
  flex: 1;
}

.contentDetail {
  margin-left: 14em;
  margin-right: 2em;
}

.contentInput {
  padding: 1em;
  padding-top: 2em;
}

.contentInput TextArea {
  line-height: 1.5;
}

.contentButton {
  padding-top: 100px;
}

.showDetail {
  height: auto;
  margin-right: 14em;
  margin-left: 2em;
  width: 250px;
}

.imageDetail {
  height: 240px;
  background-color: rgb(248, 246, 246);
  text-align: center;
}

.showButton {
  height: 30px;
  padding: 1px;
}

.showTab {
  margin-top: 1px;
}